
<!DOCTYPE html>
<html>
<title>Juan Garces - TESY-4730 Project</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
</style>

<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="http://54.202.84.26#home" class="w3-bar-item w3-button">TESY-4730 Project</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="http://54.202.84.26#about" class="w3-bar-item w3-button">About</a>
      <a href="http://54.202.84.26#destinations" class="w3-bar-item w3-button">Destinations</a>
      <a href="http://54.202.84.26#share" class="w3-bar-item w3-button">Share</a>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- Share Section -->
  <div class="w3-container w3-padding-64" id="shared">
    <h1>POST WAS SUCCESSFUL</h1><br>
    <p>Your trip sharing experience was added. Thanks, {{name}}</p><br><br>
    <form action="http://54.202.84.26" autocomplete="on" method = "GET">
		<button type="submit" class="w3-button w3-light-grey w3-section">GO BACK</button><br><br>
	</form>
  </div>
  
<!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-32">
  <p>TESY-4730 - Juan Garces | Utah State University | <a href="https://catalog.usu.edu/preview_program.php?catoid=12&poid=17637&hl=TECHNOLOGY+SYSTEMS&returnto=search" title="Technology Systems: Information and Computer Technology - BS" target="_blank" class="w3-hover-text-green">Technology Systems: Information and Computer Technology - BS</a></p>
</footer>

</body>
</html>